<div id="RenderDrink">
   <h3>  {% trans from  'drink' %} top {% endtrans %} </h3>
    <hr>
    <div class="row">
        <div class="col-12">
            <ul class="timeline timeline-horizontal">
                {% for i in 1..3 %}
                    <li class="timeline-item col-3">
                        <div class="timeline-badge red"><i class="fa "></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading text-center">
                                <img class="card-img-top" src="{{ asset('dist/category/whisky.jpg') }}" alt="Card image cap" >
                                <h4 class="timeline-title">Mussum ipsum cacilds {{ i }}</h4>
                                <p>
                                    <span class="pull-right text-muted small fa fa-eye"> 510 </span>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>