<div id="MainDrink">
   <h3>  {% trans from  'drink' %} top {% endtrans %} </h3>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-3 ">
            <div class="card drink-item">
                <img class="card-img-top" src="{{ asset('dist/category/vins.jpg') }}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{% trans from  'category' %} category.vins {% endtrans %} </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn  button">{% trans from  'category' %} more {% endtrans %}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 ">
            <div class="card drink-item">
                <img class="card-img-top" src="{{ asset('dist/category/whisky.jpg') }}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{% trans from  'category' %} category.whiskys {% endtrans %} </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn  button">{% trans from  'category' %} more {% endtrans %}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 ">
            <div class="card drink-item">
                <img class="card-img-top" src="{{ asset('dist/category/champagne.jpg') }}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{% trans from  'category' %} category.champagnes {% endtrans %} </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn  button">{% trans from  'category' %} more {% endtrans %}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 ">
            <div class="card drink-item">
                <img class="card-img-top" src="{{ asset('dist/category/bieres.jpg') }}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{% trans from  'category' %} category.bieres {% endtrans %} </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn  button">{% trans from  'category' %} more {% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
</div>