<div id="MainShop">
   <h3>  {% trans from  'shop' %} ours {% endtrans %} </h3>
    <hr>
    <div class="row">
        {% for i in 1..12 %}
            <div class="col-sm-12 col-md-6 ">
                <section>
                    <div class="container py-3">
                        <div class="card shop-item">
                            <div class="row ">
                                <div class="col-md-4">
                                    <img src="{{ asset('dist/drink/bordeaux.jpg') }}" class="w-100">
                                </div>
                                <div class="col-md-8 px-3">
                                    <div class="card-block px-3">
                                        <h4 class="card-title">{% trans from  'category' %} category.vins {% endtrans %}</h4>
                                        <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
                                        <a href="#" class="btn btn-primary button">{% trans from  'shop' %} visit {% endtrans %}</a>
                                        <span class="pull-right text-muted small fa fa-eye"> 510 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        {% endfor %}
    </div>
</div>
