{% extends '::base.html.twig' %}

{% block header %}
    <div data-bundle="main" data-page="main" id="MainNav">
        {% include 'MainBundle:Inc:nav.html.twig' %}
        {% include 'MainBundle:Inc:carousel.html.twig' %}
    </div>
{% endblock %}


{% block content %}
    <div id="content">
        {% block mainLg %}
            {# it's conatiner large page #}
        {% endblock %}
        <div class="container">
            {% block main %}
                {# it's conatiner page #}
            {% endblock %}
        </div>
    </div>
{% endblock %}



{% block footer %}

{% endblock %}
